.countdown {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 50%;
    width: fit-content;
    margin: 0 auto;
    height: 150px;
    width: 150px;

    svg {
      margin-right: 10px;
      fill: #333;
    }
  }

  .edit-mode {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      width: 50px;
      font-size: 1.5rem;
      margin: 0 5px;
      padding: 5px;
      text-align: center;
      outline: none;
      border: none;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

      &::placeholder {
        color: #777;
      }
      &:active {
        border: 1px solid #4caf50;
      }
      &:focus {
        border: 1px solid #4caf50;
      }
    }

    span {
      font-size: 1.5rem;
      margin: 0 5px;
      color: #777;
    }

    button {
      background-color: #4caf50;
      color: white;
      font-size: 1rem;
      padding: 8px 16px;
      margin-left: 10px;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      transition: background-color 0.3s;

      svg {
        fill: white;
        margin-right: 5px;
      }

      &:hover {
        background-color: #45a049;
      }
    }
  }

  .controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    button {
      background-color: #f32179;
      color: white;
      font-size: 1rem;
      padding: 8px 16px;
      margin: 0 10px;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      transition: background-color 0.3s;
      display: flex;
      align-items: center;
      gap: 5px;

      svg {
        fill: white;
        margin-right: 5px;
      }

      &:hover {
        background-color: #ee136e;
      }
    }
  }
}
